<section class="container preheader"> 
	
  {% comment %}
	<!--this is the login for the user-->
	<nav class="user clearfix"> <a href="login.html"><i class="icon-user"></i> Login</a> </nav>
	<!--close user nav-->
  {% endcomment %}
	
  {% comment %}
	<div class="search-wrapper">
		<form class="search" method="post" action="someaction.php">
			<div id="search-trigger">Search:</div>
			<input id="search-box" type="text" placeholder="search + enter">
		</form>
	</div>
	<div class="phone"><a href="tel:8135551234" class="tele">813.555.1234</a></div>
  {% endcomment %}
	<ul class="social">
		<li><a class="socicon small facebook" href="#" data-placement="bottom" title="Follow us on Facebook"></a></li>
		<li><a class="socicon small twitterbird" href="#" data-placement="bottom" title="Follow us on Twitter"></a></li>
		<li><a class="socicon small linkedin" href="#" data-placement="bottom" title="Follow us on LinkedIn"></a></li>
    {% comment %}
		<li><a class="socicon small rss" href="#" data-placement="bottom" title="Subscribe to our RSS feed"></a></li>
		<li><a class="socicon small dribbble" href="#" data-placement="bottom" title="Follow us on dribble"></a></li>
		<li><a class="socicon small vimeo" href="#" data-placement="bottom" title="Follow us on Vimeo"></a></li>
    {% endcomment %}
	</ul>
</section>


