{% extends "base.html" %}

{% block html_title %}Newsletter | Nomadblue{% endblock %}
{% block html_desc %}Jobs and vacancies at Nomadblue. Work with us, we are hiring!{% endblock %}

{% block open_graph %}
<meta property="og:type" content="company" />
<meta property="og:title" content="Jobs and vacancies at Nomadblue - Web development for startups and smart companies" />
<meta property="og:url" content="http://nomadblue.com{% url 'jobs' %}" />
<meta property="og:description" content="We invest in talent to create disrupting businesses. We have the tools and the expertise for your deas." />
{% endblock %}

{% block container %}
	<div class="hero-unit">
		<div class="container">
			<h1>Python/Django web developers wanted</h1>
		</div>
		<!--close container--> 
	</div>
	<!--close hero-unit-->
	
	<div class="container clearfix" id="main-content">
		<div class="row-fluid reverse-order contact-page">
      <p>Nomadblue is a web development company based in Santiago de Chile, born to become a leader in the development and implementation of  state-of-the-art technologies for the web. Apps for mobile devices, social networks, e-commerce platforms and the development of APIs for the programmable web, these are some of the areas in which our interests move around.</p>
      <p>We are a group of technology enthusiasts building applications and high-class web tools. Experienced in entrepreneurship and lean methodologies, we have already helped a lot of startups and companies to transform their projects into something real. We write most of our stuff in Python and take advantage of the excellent and mature Django framework to produce API-based MVPs in a record time, ready to be consumed by front-end desktop GUIs, web UIs or mobile apps.</p>
      <p>We are growing fast and there is an exciting future with opportunities and challenges for us to accomplish. To succeed in our quest, Nomadblue is looking for software engineers to work on different project using Python technologies, along with web development. Above all, we like open-minded people with an strong will to learn new technologies and hold the energy to work hard and learn tons of things along the way. If you are on of these, keep on reading.</p>

			<hr />
			<div class="span5">
				<p class="right"> <a class="icon-map-marker various fancybox.iframe" title="Map and Directions" href="https://maps.google.com/maps?q=Alc%C3%A1ntara+200,+Santiago,+Chile&hl=en&ie=UTF8&sll=-33.668298,-70.363372&sspn=1.268678,2.463684&hnear=Alc%C3%A1ntara+200,+Las+Condes,+Santiago,+Regi%C3%B3n+Metropolitana,+Chile&t=m&z=16">&nbsp;</a> </p>
				<p><strong>Nomadblue S.L</strong><br />
					Alc&aacute;ntara 200, oficina 601<br />
					Las Condes. C.P 7550159<br />
					<strong>phone:</strong> <a href="tel:+56958791449" class="tele">+56958791449</a><br />
          <strong>email:</strong> <a href="mailto:info@nomadblue.com">info@nomadblue.com</a> </p>
				<h3 class="short_headline margin-top"><span>Follow Us</span></h3>
				<ul class="social">
					<li><a class="socicon facebook" href="#" title="Facebook"></a></li>
					<li><a class="socicon twitterbird" href="#" title="Twitter"></a></li>
					<li><a class="socicon linkedin" href="#" title="LinkedIn"></a></li>
				</ul>
			</div>
			<!--close span5 -->
			
			<div class="span7">
              <h2>Responsibilities</h2>

              <ul>
                <li>Work closely with other engineering team members to scale, architect, and improve our codebase, API, backends and frontends.</li>
                <li>Think outside the box, and be highly creative. We sometimes move in unexplored fields.</li>
                <li>Design features which will be used by millions of people on release.</li>
                <li>Write code with reliability, maintainability, and client-side performance in mind.</li>
                <li>Strengthen or improve development and release processes within the team.</li>
              </ul>

              <h2>Requirements</h2>

              <ul>
                <li>Experience with Python/Django and Git is MANDATORY.</li>
                <li>B.S., M.S. or Ph.D. in Computer Science is NOT required; however, it MAY be a plus.</li>
                <li>Experience with Django, PostgreSQL, and implementing third-party APIs (e.g Facebook open graph, Dropbox, Twitter) will be highly considered.</li>
                <li>Experience with HTML/CSS, JavaScript frameworks (e.g. jQuery, Ember.js, Angular,js, Backbone.js) will be also considered.</li>
              </ul>

              <h2>What do we offer</h2>

              <ul>
                <li>We’re all about collaboration – you’ll take part in regular brainstorms as the company grows rapidly over coming months. You’ll gain direct experience of the rapid evolution of a high-profile start-up, working alongside other experts in their fields, in a friendly environment.</li>
                <li>Possibility to work part-time (32 hours per week minimum).</li>
                <li>Flexible working hours; working from home part-time is a possibility.</li>
                <li>Your salary will be VERY competitive and based on your experience.</li>
              </ul>

              <h2>Application</h2>

              Drop us an email to <strong>info (at) nomadblue.com</strong> with all — or part — of the following:

              <ul>
                <li>Your CV (LinkedIn is fine)
                <li>Details of your availability</li>
                <li>Any sample URLs that show off your code and prove you’ll be able to hit the ground running.</lu>
              </ul>

              If we like what we see we’ll get back to you quickly to arrange to have a cup of coffee or grab a beer and chat.
			</div>
			<!--close span7 --> 
		</div>
		<!--close row-fluid--> 
	</div>
	<!--close .container role="main-content" --> 
{% endblock %}



