{% extends "base.html" %}

{% block container %}
	<div class="hero-unit">
		<div class="container">
			<h1>Subscribe to our newsletter</h1>
		</div>
		<!--close container--> 
	</div>
	<!--close hero-unit-->
	
	<div class="container clearfix" id="main-content">
		<div class="row-fluid reverse-order contact-page">
			<p class="clearfix">Do you want to receive our latest news, blog posts, or information about what we are cooking in our labs? Drop us your email and we will send you our newsletter with all the buzz around Nomadblue.</p>
			<hr />
			<div class="span5">
				<p class="right"> <a class="icon-map-marker various fancybox.iframe" title="Map and Directions" href="https://maps.google.com/maps?q=Alc%C3%A1ntara+200,+Santiago,+Chile&hl=en&ie=UTF8&sll=-33.668298,-70.363372&sspn=1.268678,2.463684&hnear=Alc%C3%A1ntara+200,+Las+Condes,+Santiago,+Regi%C3%B3n+Metropolitana,+Chile&t=m&z=16">&nbsp;</a> </p>
				<p><strong>Nomadblue S.L</strong><br />
					Alc&aacute;ntara 200, oficina 601<br />
					Las Condes. C.P 7550159<br />
					<strong>phone:</strong> <a href="tel:+56958791449" class="tele">+56958791449</a><br />
          <strong>email:</strong> <a href="mailto:info@nomadblue.com">info@nomadblue.com</a> </p>
        {% comment %}
				<h3 class="short_headline margin-top"><span>Get our latest news</span></h3>
				<p>Sign up for our newsletter. We won't share your email address.</p>
				<div class="input-append">
					<input type="email" placeholder="Email Address" class="span6" name="email" />
					<button class="btn btn-primary">Sign Up</button>
				</div>
				<!--close input-append-->
        {% endcomment %}
				<h3 class="short_headline margin-top"><span>Follow Us</span></h3>
				<ul class="social">
					<li><a class="socicon facebook" href="#" title="Facebook"></a></li>
					<li><a class="socicon twitterbird" href="#" title="Twitter"></a></li>
					<li><a class="socicon linkedin" href="#" title="LinkedIn"></a></li>
				</ul>
			</div>
			<!--close span5 -->
			
			<div class="span7">
        {% include "bits/newsletter_input.html" %}
			</div>
			<!--close span7 --> 
		</div>
		<!--close row-fluid--> 
	</div>
	<!--close .container role="main-content" --> 
{% endblock %}

