{% extends 'nomadblog/list_posts.html' %}

{% block html_title %}List of posts related to {{ category }} at Nomadblue Blog{% endblock %}
{% block html_desc %}All posts categorized as {{ category }} at the official blog of Nomadblue.{% endblock %}

{% block open_graph %}
<meta property="og:type" content="company" />
<meta property="og:title" content="Nomadblue blog - Python, Django, web development" />
<meta property="og:url" content="http://nomadblue.com{% url 'list_posts_by_category' category %}" />
<meta property="og:description" content="This is the official blog of Nomadblue. We are experts in Python-related technologies. We are entrepreneurs and geeks like you." />
{% endblock %}

